.search-header-container {
  display: flex;
  /* 固定导航栏，保持顶部固定*/
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99999;
  align-items: center;
  padding: 0 8px;
  height: 44px;
  background-color: var(--red-color);
}

.search-header-left {
  color: #fff;
  width: 60px;
  i {
    font-size: 20px;
    margin: 0 5px;
    vertical-align: middle;
  }
}

.search-header-middle {
  flex: 1;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  background-color: #fff;
}

.search-header-right {
  width: 40px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
